<h1 class="content" role="main">
    hello world, welcome to {{hotelName}}
</h1>

<app-header #childComponent></app-header>
    



<!-- Using trinary operation in Angular -->
<!-- {{rooms.availableRooms && "rooms are available" }} -->

<div>
    {{rooms.availableRooms && hideRooms ?  "rooms are available": "rooms list are not available" }}
</div>



<div [hidden]= "!hideRooms">
    Number of Rooms
    <div [innerText]="numberOfRooms">
        <!-- {{numberOfRooms}} -->
    </div>
</div>



<!-- when click on selected room -->
<div *ngIf="selectedJson">
    {{selectedJson | json}}
</div>




<button (click)="toggle()">
    Toggle
</button>


<!-- adding room using hard-coded data -->
<!-- <div>
    <button
    (click)="addRoom()">
        add new room
    </button>
</div> -->

<!-- Let's direct user to adding form -->
<div>
    <button
    routerLink="/rooms/add">
        add new room
    </button>
</div>


<div *ngIf="rooms.availableRooms >0 && hideRooms ">
    Room List:
    <app-rooms-list 
    [rooms]="roomsList"
    [title]="roomsTitle"
    (selectedRoom)="selectParentRoom($event)">
    </app-rooms-list>
</div>



<router-outlet></router-outlet>