<h1 class="content" role="main">
    hello world, welcome to {{hotelName}}
</h1>
    

<div [hidden]= "hideRooms">
    Number of Rooms
    <div [innerText]="numberOfRooms">
        <!-- {{numberOfRooms}} -->
    </div>
</div>

<div *ngIf="selectedJson">
    {{selectedJson | json}}
</div>

<!-- Using trinary operation in Angular -->
{{rooms.availableRooms && "rooms are available" }}


<div>
    <button
    (click)="addRoom()">
        add new room
    </button>
</div>



<div *ngIf="rooms.availableRooms >0 ">
    Room List:
    <app-rooms-list 
    [rooms]="roomsList"
    [title]="roomsTitle"
    (selectedRoom)="selectParentRoom($event)"
    ></app-rooms-list>
</div>



<button (click)="toggle()">
    Toggle
</button>



