

<div *ngIf="!isDirty;else successMessage"></div>

<ng-template #successMessage>
    <p class="alert alert-success">
        Successfully added
    </p>
</ng-template>  


<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input 
        class="form-control"
        placeholder="Enter room number" 
        name="roomNumber" 
        type="number" 
        [(ngModel)]="room.roomNumber"
        (ngModelChange)="onDataChanged()"
        >
    </div>
    <div class="form-group">
        <input 
        placeholder="Enter room type" 
        name="roomType" 
        type="text" 
        class="form-control"
        [(ngModel)]="room.roomType"
        (ngModelChange)="onDataChanged()"
        >
    </div>
    <div class="form-group">
        <input 
        class="form-control"
        placeholder="Enter amenities" 
        name="amenities" 
        type="text" 
        [(ngModel)]="room.amenities"
        (ngModelChange)="onDataChanged()"
        >
    </div>
    <div class="form-group">
        <input 
        class="form-control"
        placeholder="Enter price" 
        name="price" 
        type="number" 
        [(ngModel)]="room.price"
        (ngModelChange)="onDataChanged()"
        >
    </div>
    <div class="form-group">
        <input 
        class="form-control"
        placeholder="Enter photos link" 
        name="photos" 
        type="text" 
        [(ngModel)]="room.photos"
        (ngModelChange)="onDataChanged()"
        >
    </div>
    <div class="form-group">
        <input 
        class="form-control"
        placeholder="Enter check-in time" 
        name="checkInTime" 
        type="date" 
        [(ngModel)]="room.checkInTime"
        (ngModelChange)="onDataChanged()"
        >
    </div>
    <div class="form-group">
        <input 
        placeholder="Enter check-out time" 
        name="checkOutTime" 
        type="date" 
        [(ngModel)]="room.checkOutTime"
        class="form-control"
        (ngModelChange)="onDataChanged()"
        >
    </div>

    <div>
        <button 
        class="btn btn-primary" 
        type="submit"
        >
            Submit
        </button>
    </div>
</form>