
<!-- Static way loading component -->
<!-- <app-rooms></app-rooms> -->


<!-- Dynamically loading component -->
<!-- <div>
    <ng-template #user></ng-template>
</div> -->





<!-- CONTENT-PROJECTION -->

<!-- Adding comments here so we can see routes
<app-container>
    <app-employee></app-employee>
    <app-rooms></app-rooms>
    <app-hotels></app-hotels>
    <h3 #date></h3>
    <app-demo-picker></app-demo-picker>
</app-container> -->





<!-- ADDING ADDITIONAL ANCHOR TAG ALONG WITH ROUTER -->

<!-- <div 
style="display: flex ; font-size: 16px; gap: 20px; border: 1px solid black; font-weight: bold; ">
    <a [routerLink]="'rooms'" 
    style="text-decoration: none;margin-left: 1rem;">
        Rooms
    </a>
    <a [href]= "'hotels'" style="text-decoration: none;">Hotels</a>
</div>
<router-outlet></router-outlet> -->





<!-- ADDING NAVBAR COMPONENTS -->

<app-app-nav></app-app-nav>